<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>[guns] %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springboot.sample" level="TRACE" />
    <logger name="org.mybatis" level="WARN" additivity="true">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="java.sql" level="WARN" additivity="true">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.apache" level="WARN" additivity="true">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework" level="WARN" additivity="true">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.apache" level="WARN" additivity="true">
        <appender-ref ref="STDOUT"/>
    </logger>

    <springProfile name="dev,test">
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="org.springboot.sample" level="INFO" />
        <logger name="top.yuyg.blog." level="DEBUG" />
    </springProfile>

    <springProfile name="pro">
        <logger name="org.springframework.web" level="ERROR"/>
        <logger name="org.springboot.sample" level="ERROR" />
        <logger name="top.yuyg.blog." level="ERROR" />
    </springProfile>

    <appender name="FILEERROR" class="ch.qos.logback.core.rolling.RollingFileAppender"> <!-- 正在记录的日志文件的路径及文件名 -->
        <file>/web/log/guns/error.log</file> <!-- 日志记录器的滚动策略，按日期，按大小记录:这里是每天产生一个文件 -->
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> <!-- 归档的日志文件的路径，例如今天是2013-12-21日志，当前写的日志文件路径为file节点指定，可以将此文件与file指定文件路径设置为不同路径，从而将当前日志文件或归档日志文件置不同的目录。 而2013-12-21的日志文件在由fileNamePattern指定。%d{yyyy-MM-dd}指定日期格式，%i指定索引 --> <!--设置日志命名模式-->
            <fileNamePattern>/web/log/guns/log-error-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern> <!-- 除按日志记录之外，还配置了日志文件不能超过3M，若超过3M，日志文件会以索引0开始， 命名日志文件，例如log-error-2013-12-21.0.log -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>3MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy> <!--最多保留30天log-->
            <maxHistory>30</maxHistory>
        </rollingPolicy> <!-- 追加方式记录日志 -->
        <append>true</append> <!-- 日志文件的格式 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[guns] %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder> <!-- 此日志文件只记录error级别的 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
</configuration>